body {
    font-family: 'Int Circular PTT';
}
a,input,button,textarea {
    text-decoration: none !important;
    outline: none !important;
}

.heading:before {
    content: '';
    position: absolute;
    background-image: url('../images/heading-logo.png');
    width: 108px;
    height: 112px;
    background-repeat: no-repeat;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.navbar {
    background-color: transparent;
    border: none;
    -webkit-transition: 0.3s all ease-out;
    -moz-transition: 0.3s all ease-out ;
    -ms-transition: 0.3s all ease-out ;
    -o-transition: 0.3s all ease-out ;
    transition: 0.3s all ease-out ;
}
.navbar-default .navbar-nav>li {
    margin: 0 15px;
    color: black;
}
.navbar-default .navbar-nav>li>a {
    color: #fff;
    font-size: 16px;
    position: relative;
    padding: 15px 0;
}
.navbar-default .navbar-nav>li>a:focus, .navbar-default .navbar-nav>li>a:hover {
    color: #fff;
    background-color: transparent;
}
.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover {
    color: black;
    background-color: transparent;
}

.navbar-default .navbar-nav>li>a:before {
    content: '';
    position: absolute;
    bottom: 8px;
    width: 0;
    height: 1px;
    background-color: #fff;
    left: 50%;
    transform: translate(-50%,0);
    -webkit-transition: 0.3s all ease-out;
    -moz-transition: 0.3s all ease-out ;
    -ms-transition: 0.3s all ease-out ;
    -o-transition: 0.3s all ease-out ;
    transition: 0.3s all ease-out ;
}
.navbar-default .navbar-nav>li>a:hover:before, .navbar-default .navbar-nav>li.active>a:before {
    width: 100%;
    -webkit-transition: 0.3s all ease-out;
    -moz-transition: 0.3s all ease-out ;
    -ms-transition: 0.3s all ease-out ;
    -o-transition: 0.3s all ease-out ;
    transition: 0.3s all ease-out ;
}
.nav-white {
    background-color: #fff;
    -moz-box-shadow: 0 2px 3px 0px rgba(0, 0, 0, 0.16);
    -webkit-box-shadow: 0 2px 3px 0px rgba(0, 0, 0, 0.16);
    box-shadow: 0 2px 3px 0px rgba(0, 0, 0, 0.16);
}
.nav-white .logo {
    background-image: url('../images/logo1.png');
}
.nav-white .navbar-nav>li>a {
    color: #1bb3eb;
    font-size: 16px;
    position: relative;
    padding: 15px 0;
}
.nav-white .navbar-nav>.active>a, .nav-white .navbar-nav>.active>a:focus, .nav-white .navbar-nav>.active>a:hover {
    color: #1bb3eb;
}
.nav-white .navbar-nav>li>a:before {
    content: '';
    position: absolute;
    bottom: 8px;
    width: 0;
    height: 1px;
    background-color: #40f1d1;
    left: 50%;
    transform: translate(-50%,0);
    -webkit-transition: 0.3s all ease-out;
    -moz-transition: 0.3s all ease-out;
    -ms-transition: 0.3s all ease-out;
    -o-transition: 0.3s all ease-out;
    transition: 0.3s all ease-out;
}
.nav-white .navbar-nav>li>a:focus, .nav-white .navbar-nav>li>a:hover {
    color: #1bb3eb;
    background-color: transparent;
}
.navbar-right {
        margin-top: 20px;
    }


.hero-main-container {
    height: 100vh;
    background-image: url(../images/hero-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom center;
    display: flex;
    align-items: center;
    justify-content: center;
}
.hero-data {
    font-size: 60px;
    color: #fff;
    font-weight: 600;
    padding: 0 15px;
    text-align: center;
}
