@font-face {
    font-family: 'Int Circular PTT';
    src: url('../font/IntCircularPTT-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Int Circular PTT';
    src: url('../font/IntCircularPTT-Thin.woff') format('woff');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'Int Circular PTT';
    src: url('../font/IntCircularPTT-Bold.woff') format('woff');
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: 'Int Circular PTT';
    src: url('../font/IntCircularPTT-Medium.woff') format('woff');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Int Circular PTT Book';
    src: url('../font/IntCircularPTT-Book.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Int Circular PTT';
    src: url('../font/IntCircularPTT-Black.woff') format('woff');
    font-weight: 900;
    font-style: normal;
}


/*
    1. Basic css
    2. Navigation Css
                    */

/* 1. Basic css */
body {
    font-family: 'Int Circular PTT';
}
a,input,button,textarea {
    text-decoration: none !important;
    outline: none !important;
}
.heading {
    text-align: center;
    font-size: 54px;
    position: relative;
    margin: 20px 0;
}
.heading:before {
    content: '';
    position: absolute;
    background-image: url('../images/heading-logo.png');
    width: 108px;
    height: 112px;
    background-repeat: no-repeat;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.section-container {
    padding: 100px 0;
}
.animated {
    opacity: 0;
}
.visible {
    opacity: 1;
}

/* Navigation Css */
.navbar {
    background-color: transparent;
    border: none;
    -webkit-transition: 0.3s all ease-out;
    -moz-transition: 0.3s all ease-out ;
    -ms-transition: 0.3s all ease-out ;
    -o-transition: 0.3s all ease-out ;
    transition: 0.3s all ease-out ;
}
.navbar * {
    -webkit-transition: 0.3s all ease-out;
    -moz-transition: 0.3s all ease-out ;
    -ms-transition: 0.3s all ease-out ;
    -o-transition: 0.3s all ease-out ;
    transition: 0.3s all ease-out ;
}
.navbar-brand {
    height: auto;
}
.navbar-default .navbar-nav>li {
    margin: 0 15px;
    color: black;
}
.navbar-default .navbar-nav>li>a {
    color: #fff;
    font-size: 16px;
    position: relative;
    padding: 15px 0;
}
.navbar-default .navbar-nav>li>a:focus, .navbar-default .navbar-nav>li>a:hover {
    color: #fff;
    background-color: transparent;
}
.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover {
    color: black;
    background-color: transparent;
}
.logo {
    width: 156px;
    height: 42px;
    background-image: url('../images/logo.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}
.navbar-default .navbar-nav>li>a:before {
    content: '';
    position: absolute;
    bottom: 8px;
    width: 0;
    height: 1px;
    background-color: #fff;
    left: 50%;
    transform: translate(-50%,0);
    -webkit-transition: 0.3s all ease-out;
    -moz-transition: 0.3s all ease-out ;
    -ms-transition: 0.3s all ease-out ;
    -o-transition: 0.3s all ease-out ;
    transition: 0.3s all ease-out ;
}
.navbar-default .navbar-nav>li>a:hover:before, .navbar-default .navbar-nav>li.active>a:before {
    width: 100%;
    -webkit-transition: 0.3s all ease-out;
    -moz-transition: 0.3s all ease-out ;
    -ms-transition: 0.3s all ease-out ;
    -o-transition: 0.3s all ease-out ;
    transition: 0.3s all ease-out ;
}
.nav-white {
    background-color: #fff;
    -moz-box-shadow: 0 2px 3px 0px rgba(0, 0, 0, 0.16);
    -webkit-box-shadow: 0 2px 3px 0px rgba(0, 0, 0, 0.16);
    box-shadow: 0 2px 3px 0px rgba(0, 0, 0, 0.16);
}
.nav-white .logo {
    background-image: url('../images/logo-color.png');
}
.nav-white .navbar-nav>li>a {
    color: #1bb3eb;
    font-size: 16px;
    position: relative;
    padding: 15px 0;
}
.nav-white .navbar-nav>.active>a, .nav-white .navbar-nav>.active>a:focus, .nav-white .navbar-nav>.active>a:hover {
    color: #1bb3eb;
}
.nav-white .navbar-nav>li>a:before {
    content: '';
    position: absolute;
    bottom: 8px;
    width: 0;
    height: 1px;
    background-color: #40f1d1;
    left: 50%;
    transform: translate(-50%,0);
    -webkit-transition: 0.3s all ease-out;
    -moz-transition: 0.3s all ease-out;
    -ms-transition: 0.3s all ease-out;
    -o-transition: 0.3s all ease-out;
    transition: 0.3s all ease-out;
}
.nav-white .navbar-nav>li>a:focus, .nav-white .navbar-nav>li>a:hover {
    color: #1bb3eb;
    background-color: transparent;
}
@media (min-width: 768px) {
    .navbar .container {
        display: flex;
        align-items: center;
    }
    #navbar {
        width: 100%;
    }
    .navbar-right {
        margin-right: 0;
    }
}


/* Hero Css */
.hero-main-container {
    height: 100vh;
    background-image: url(../images/hero-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom center;
    display: flex;
    align-items: center;
    justify-content: center;
}
.hero-data {
    font-size: 60px;
    color: #fff;
    font-weight: 600;
    padding: 0 15px;
    text-align: center;
}


/* About Css */
.about-data {
    text-align: center;
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.about-data h3 {
    color: #353535;
    margin: 0 0 25px 0;
}
.about-data p {
    max-width: 800px;
    color: #727272;
    text-align: justify;
}
.about-list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 0;
    margin: 75px 0 0 0;
}
.about-list li {
    width: calc(33.3% - 50px);
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
.about-list-image {
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}
.about-list-image img {
    max-width: 100%;
    max-height: 100%;
}


/* Services Css */
.services-main-container {
    background-color: #f7f9fa;
    overflow: hidden;
}
.services-inner {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.services-data {
    margin-top: 50px;
}
.services-left h3 {
    color: #353535;
    margin: 0 0 25px 0;
}
.services-left p {
    max-width: 800px;
    color: #727272;
    text-align: justify;
}
.services-left {
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.services-right{
    width: 58%;
    padding-left: 10%;
}
.services-list {
    display: flex;
    justify-content: space-between;
    padding: 0;
    flex-wrap: wrap;
    margin: 0;
}
.services-list.active {
    opacity: 0;
    transform: rotate(45deg);
    -webkit-transition: 0.3s all ease-out;
    -moz-transition: 0.3s all ease-out ;
    -ms-transition: 0.3s all ease-out ;
    -o-transition: 0.3s all ease-out ;
    transition: 0.3s all ease-out ;
}
.services-list {
    opacity: 1;
    -webkit-transition: 0.9s all ease-out;
    -moz-transition: 0.3s all ease-out ;
    -ms-transition: 0.3s all ease-out ;
    -o-transition: 0.3s all ease-out ;
    transition: 0.9s all ease-out ;
}
.services-list li {
    width: calc(50% - 20px);
    margin: 0 0 40px 0;
    background-image: -moz-linear-gradient( 47deg, rgb(27,179,235) 0%, rgb(64,241,209) 100%);
    background-image: -webkit-linear-gradient( 47deg, rgb(27,179,235) 0%, rgb(64,241,209) 100%);
    background-image: -ms-linear-gradient( 47deg, rgb(27,179,235) 0%, rgb(64,241,209) 100%);
    color: #fff;
    list-style: none;
    padding: 32px;
    border-radius: 5px;
    -webkit-transition: 0.3s all ease-out;
    -moz-transition: 0.3s all ease-out ;
    -ms-transition: 0.3s all ease-out ;
    -o-transition: 0.3s all ease-out ;
    transition: 0.3s all ease-out ;
}
.services-list.active li {
    transform: translate(0,0) !important;
    -webkit-transition: 0.3s all ease-out;
    -moz-transition: 0.3s all ease-out ;
    -ms-transition: 0.3s all ease-out ;
    -o-transition: 0.3s all ease-out ;
    transition: 0.3s all ease-out ;
}
.services-list-inner {
    padding-bottom: 120%;
    position: relative;
}
.service-list-data {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translate(0,-50%);
}
.services-list li:nth-of-type(1) {
    transform: translate(-20px,30px);
}
.services-list li:nth-of-type(2) {
    transform: translate(-30px,-20px);
}
.services-list li:nth-of-type(3) {
    transform: translate(30px,20px);
}
.services-list li:nth-of-type(4) {
    transform: translate(20px,-30px);
}
.service-image {
    height: 50px;
    margin-bottom: 25px;
}
.service-image img {
    max-height: 100%;
    max-width: 100%;
}
.services-list p {
    font-size: 18px;
    margin: 0;
}

/* Process List */
.process-data {
    margin-top: 50px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.process-data h3 {
    color: #353535;
    margin: 0 0 25px 0;
}
.process-data p {
    color: #727272;
    margin: 0;
    text-align: justify;
}
.process-list {
    padding: 0;
    margin: 0;
    max-width: 800px;
}
.process-list li {
    list-style: none;
    display: none;
}
.process-list li.active {
    display: block;
    opacity: 0;
    -webkit-transition: 0.3s all ease-out;
    -moz-transition: 0.3s all ease-out ;
    -ms-transition: 0.3s all ease-out ;
    -o-transition: 0.3s all ease-out ;
    transition: 0.3s all ease-out ;
}
.process-list li.faded {
    opacity: 1;
    -webkit-transition: 0.3s all ease-out;
    -moz-transition: 0.3s all ease-out ;
    -ms-transition: 0.3s all ease-out ;
    -o-transition: 0.3s all ease-out ;
    transition: 0.3s all ease-out ;
}
.process-control-list {
    padding: 0;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 75px;
}
.process-control-list li {
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
}
.process-control-list-data {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.process-control-list-round {
    border-radius: 50%;
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 6px 18px 0px rgba(0, 0, 0, 0.09);
    width: 23px;
    height: 23px;
    position: relative;
}
.process-control-list-round:before {
    content: '';
    border-radius: 50%;
    background-color: rgb(230, 230, 230);
    position: absolute;
    width: 9px;
    height: 9px;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    -webkit-transition: 0.3s all ease-out;
    -moz-transition: 0.3s all ease-out ;
    -ms-transition: 0.3s all ease-out ;
    -o-transition: 0.3s all ease-out ;
    transition: 0.3s all ease-out ;
}

.process-control-list-image {
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0.5;
    -webkit-transition: 0.3s all ease-out;
    -moz-transition: 0.3s all ease-out ;
    -ms-transition: 0.3s all ease-out ;
    -o-transition: 0.3s all ease-out ;
    transition: 0.3s all ease-out ;
}
.process-control-list li.active .process-control-list-image, .process-control-list li:hover .process-control-list-image{
    opacity: 1;
    -webkit-transition: 0.3s all ease-out;
    -moz-transition: 0.3s all ease-out ;
    -ms-transition: 0.3s all ease-out ;
    -o-transition: 0.3s all ease-out ;
    transition: 0.3s all ease-out ;
}
.process-control-list-image img {
    max-width: 100%;
    max-height: 100%;
}
.process-control-list-round {
    margin: 20px 0;
}
.process-control-list-data p {
    color: #656565;
    font-weight: 600;
}
.process-control {
    position: relative;
}
.process-control-line {
    width: calc(100% - 63px);
    background-color: rgb(230, 230, 230);
    position: absolute;
    height: 1px;
    top: 61px;
    left: 27px;
}
.process-control-line-active {
    position: absolute;
    background-color: #26b1e3;
    height: 1px;
}
.process-control-list li.active .process-control-list-round:before {
    background-color: #26b1e3;
    -webkit-transition: 0.3s all ease-out;
    -moz-transition: 0.3s all ease-out ;
    -ms-transition: 0.3s all ease-out ;
    -o-transition: 0.3s all ease-out ;
    transition: 0.3s all ease-out ;
}


/* Development Css */
.development-list {
    display: flex;
    justify-content: space-between;
    padding: 0;
    margin: 100px 0 0 0;
}
.development-list li {
    list-style: none;
}
.development-list li img {
    width: 100%;
}

/* News css */
.news-heading-change a{
    position: absolute;
    right: 0;
    top: 50%;
    transform: translate(0,-50%);
    font-size: 16px;
    color: #797979;
}
.news-list {
    padding: 0;
    margin: 100px -15px 0 -15px;
    display: flex;
    flex-wrap: wrap;
}
.news-list li {
    list-style: none;
    width: calc(33.3% - 30px);
    margin: 0 15px;
    background-color: #f5f5f5;
}
.news-list-img {
    height: 225px;
    background-size: cover;
    position: relative;
    margin-bottom: 45px;
}
.news-list-date {
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 0px 16px 0px rgba(0, 0, 0, 0.19);
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%,50%);
    text-align: center;
    padding: 10px;
    font-weight: 600;
}
.news-list-data {
    padding: 0 15px 15px 15px;
    min-height: calc(100% - 270px);
}
.news-list-data h5 {
    margin-top: 0;
    font-weight: 600;
    text-align: center;
}
.news-list-data p {
    color: #797979;
    margin: 0;
    text-align: justify;
}

/* Testimonial Css */
.testimonial-main-container {
    background-color: #f7f9fa;
}
.testimonial-info {
    color: #353535;
    text-align: center;
    font-size: 18px;
    margin: 50px 0 0 0;
}
.testimonial-slider {
    margin-top: 75px;
}
.testimonial-slider-one {
    outline: none;
    padding: 0 15px;
}
.testimonial-slider-inner,.testimonial-user {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.testimonial-user {
    margin-top: 50px;
    position: relative;
}
.testimonial-data {
    background-color: transparent;
    color: #646363;
    padding: 15px;
    border-radius: 10px;
    text-align: justify;
    -webkit-transition: 0.3s all ease-out;
    -moz-transition: 0.3s all ease-out ;
    -ms-transition: 0.3s all ease-out ;
    -o-transition: 0.3s all ease-out ;
    transition: 0.3s all ease-out ;
}
.slick-current .testimonial-data {
    background-color: #27c7e2;
    color: #fff;
    -webkit-transition: 0.3s all ease-out;
    -moz-transition: 0.3s all ease-out ;
    -ms-transition: 0.3s all ease-out ;
    -o-transition: 0.3s all ease-out ;
    transition: 0.3s all ease-out ;
}
.testimonial-user-img {
    width: 65px;
    height: 65px;
    background-size: cover;
    border-radius: 50%;
    position: relative;
    opacity: 0;
    -webkit-transition: 0.3s all ease-out;
    -moz-transition: 0.3s all ease-out ;
    -ms-transition: 0.3s all ease-out ;
    -o-transition: 0.3s all ease-out ;
    transition: 0.3s all ease-out ;
}
.slick-current .testimonial-user-img {
    opacity: 1;
    -webkit-transition: 0.3s all ease-out 1s;
    -moz-transition: 0.3s all ease-out 1s;;
    -ms-transition: 0.3s all ease-out 1s;
    -o-transition: 0.3s all ease-out 1s;
    transition: 0.3s all ease-out 1s;
}
.testimonial-user:after {
    content: '';
    background-image: url(../images/pattern.png);
    width: 13px;
    height: 25px;
    position: absolute;
    background-repeat: no-repeat;
    top: -35px;
    left: calc(50% - 7px);
    transform: translate(0,-30px);
    opacity: 0;
    -webkit-transition: 0.3s all ease-out;
    -moz-transition: 0.3s all ease-out ;
    -ms-transition: 0.3s all ease-out ;
    -o-transition: 0.3s all ease-out ;
    transition: 0.3s all ease-out ;
}
.slick-current .testimonial-user:after {
    transform: translate(0,0px);
    opacity: 1;
    -webkit-transition: 0.3s all ease-out 0.6s;
    -moz-transition: 0.3s all ease-out 0.6s;
    -ms-transition: 0.3s all ease-out 0.6s;
    -o-transition: 0.3s all ease-out 0.6s;
    transition: 0.3s all ease-out 0.6s;
}
.testimonial-user-img:before {
    content: '';
    border: #27c7e2 solid 3px;
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 50%;
}
.testimonial-user h5 {
    margin: 15px 0 0 0;
    font-weight: 600;
    opacity: 0;
    text-align: center;
    -webkit-transition: 0.3s all ease-out;
    -moz-transition: 0.3s all ease-out ;
    -ms-transition: 0.3s all ease-out ;
    -o-transition: 0.3s all ease-out ;
    transition: 0.3s all ease-out ;
}
.slick-current .testimonial-user h5 {
    opacity: 1;
    -webkit-transition: 0.3s all ease-out 1s;
    -moz-transition: 0.3s all ease-out 1s;;
    -ms-transition: 0.3s all ease-out 1s;
    -o-transition: 0.3s all ease-out 1s;
    transition: 0.3s all ease-out 1s;
}
.slick-dots {
    font-size: 0;
    display: flex;
    justify-content: center;
    padding: 0;
    margin: 50px 0 0 0;
}
.slick-dots li {
    margin: 0 5px;
}
.slick-dots li button {
    width: 9px;
    height: 9px;
    background-color: #d7d7d7;
    border: none;
    border-radius: 50%;
    padding: 0;
    -webkit-transition: 0.3s all ease-out;
    -moz-transition: 0.3s all ease-out ;
    -ms-transition: 0.3s all ease-out ;
    -o-transition: 0.3s all ease-out ;
    transition: 0.3s all ease-out ;
}
.slick-dots li.slick-active button {
    background-color: #27c7e2;
}
.testimonial-img img {
    max-height: 70px;
    margin: 10px 0;
    opacity: 0;
    -webkit-transition: 0.3s all ease-out;
    -moz-transition: 0.3s all ease-out ;
    -ms-transition: 0.3s all ease-out ;
    -o-transition: 0.3s all ease-out ;
    transition: 0.3s all ease-out ;
}
.slick-current .testimonial-img img  {
    opacity: 1;
    -webkit-transition: 0.3s all ease-out 1s;
    -moz-transition: 0.3s all ease-out 1s;;
    -ms-transition: 0.3s all ease-out 1s;
    -o-transition: 0.3s all ease-out 1s;
    transition: 0.3s all ease-out 1s;
}

/* Footer Css */
.footer-main-container {
    background-image: url(../images/footer-bg.png);
    background-position: top center;
    background-size: cover;
    background-color: #f7f9fa;
}
.footer-inner {
    margin-top: 200px;
}
.footer-heading {
    text-align: center;
    color: #fff;
}
.footer-heading h5 {
    font-size: 16px;
    font-weight: 600;
}
.footer-heading h1 {
    text-transform: uppercase;
    font-weight: 600;
    font-size: 46px;
}
.contact-from {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.contact-from input{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.contact-input-half {
    width: 32%;
}
.contact-form-input {
    position: relative;
    padding-top: 15px;
    margin-top: 45px;
}
.contact-form-input input {
    width: 100%;
    position: relative;
    z-index: 2;
    background-color: transparent;
    border: none;
    padding: 10px 0;
    font-size: 16px;
    color: #fff;
}
.contact-form-input textarea {
    width: 100%;
    position: relative;
    z-index: 2;
    background-color: transparent;
    border: none;
    padding: 10px 0;
    font-size: 16px;
    color: #fff;
    max-width: 100%;
    height: 50px;
}
.contact-form-input:before {
    content: '';
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: 0;
    background-color: #fff;
}
.contact-form-input label {
    position: absolute;
    top: 25px;
    left: 0;
    z-index: 1;
    margin: 0;
    -webkit-transition: 0.4s all ease-out;
    -moz-transition: 0.4s all ease-out ;
    -ms-transition: 0.4s all ease-out ;
    -o-transition: 0.4s all ease-out ;
    transition: 0.4s all ease-out ;
    color: #fff;
    font-weight: 600;
    font-size: 14px;
}
.contact-form-input label.active {
    opacity: 0;
}
.contact-form-input input:focus + label {
    top: 0;
}
.contact-form-input textarea:focus + label {
    top: 0;
}
.contact-form-input .line {
    content: '';
    position: absolute;
    width: 0;
    height: 2px;
    bottom: 0;
    background-color: #1959d3;
    transform: translate(-50%,0);
    left: 50%;
    -webkit-transition: 0.4s all ease-out;
    -moz-transition: 0.4s all ease-out ;
    -ms-transition: 0.4s all ease-out ;
    -o-transition: 0.4s all ease-out ;
    transition: 0.4s all ease-out ;
}
.contact-form-input input:focus ~ div.line {
    width: 100%;
}
.contact-form-input textarea:focus ~ div.line {
    width: 100%;
}
.contact-input-full {
    width: 100%;
}
.contact-flex  {
    display: flex;
    justify-content: space-between;
}
.contact-input-left {
    width: 70%;
}
.contact-input-right {
    width: 25%;
}
.contact-input-left {
    color: #fff;
    font-weight: 600;
    font-size: 14px;
}
.contact-input-full {
    margin-top: 45px;
}
.ui-widget-header {
    background-color: #1959d3;
    border-radius: 0;
}
.ui-slider-horizontal .ui-slider-handle {
    margin: 0;
    outline: none;
    height: 12px;
    width: 12px;
    border: none;
    border-radius: 0;
    box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.16);
}
.ui-widget.ui-widget-content {
    border: none;
    background-color: #fff;
    border-radius: 0;
    height: 4px;


}
.budget {
    display: flex;
    color: #fff;
    align-items: center;
}
.budget label span {
    font-size: 20px;
    margin-right: 5px;
    font-weight: 800;
}
.budget label {
    margin: 0;
    font-weight: 400;
}
.contact-input-full .contact-form-input {
    margin-top: 0;
}
.upload {
    display: flex;
    align-items: center;
}
.upload label {
    display: flex;
    align-items: center;
    color: #fff;
    margin: 0;
    font-weight: 400;
    cursor: pointer;
}
.upload label img {
    margin-right: 15px;
}
.upload input {
    display: none;
}
.contact-from .button {
    display: flex;
    justify-content: center;
}
.contact-from .button button {
    background-color: rgb(25, 89, 211);
    color: #fff;
    padding: 10px 25px;
    border-radius: 50px;
    border: none;
    font-weight: 600;
    font-size: 16px;
    -webkit-transition: 0.3s all ease-out;
    -moz-transition: 0.3s all ease-out ;
    -ms-transition: 0.3s all ease-out ;
    -o-transition: 0.3s all ease-out ;
    transition: 0.3s all ease-out ;
}
.contact-from .button button:hover {
    box-shadow: 0px 11px 13px 0px rgba(0, 131, 255, 0.31);
    -webkit-transition: 0.3s all ease-out;
    -moz-transition: 0.3s all ease-out ;
    -ms-transition: 0.3s all ease-out ;
    -o-transition: 0.3s all ease-out ;
    transition: 0.3s all ease-out ;
}
.contact-map {
    margin-top: 45px;
}
.contact-map iframe {
    height: 200px;
    width: 100%;
}
.contact-footer {
    display: flex;
    justify-content: space-between;
    color: #fff;
    font-size: 16px;
    margin-top: 45px;
    margin-bottom: 25px;
}
.social-list {
    padding: 0;
    margin: 0;
}
.social-list li {
    list-style: none;
    margin-bottom: 5px;
}
.social-list li a {
    color: #fff;
    -webkit-transition: 0.3s all ease-out;
    -moz-transition: 0.3s all ease-out ;
    -ms-transition: 0.3s all ease-out ;
    -o-transition: 0.3s all ease-out ;
    transition: 0.3s all ease-out ;
    opacity: 0.8;
}
.social-list li a:hover {
    -webkit-transition: 0.3s all ease-out;
    -moz-transition: 0.3s all ease-out ;
    -ms-transition: 0.3s all ease-out ;
    -o-transition: 0.3s all ease-out ;
    transition: 0.3s all ease-out ;
    opacity: 1;
}
.contact-footer-right img {
    margin-bottom: 20px;
    width: 150px;
}
@media (max-width: 768px) {
    .navbar-default .navbar-nav>li {
        margin: 0 8px;
    }
    .hero-data {
        font-size: 40px;
    }
    .services-list li {
        padding: 15px;
    }
    .service-image {
        height: 35px;
        margin-bottom: 15px;
    }
    .news-list-img {
        height: 140px;
    }
}
@media (max-width: 767px) {
    .navbar-brand {
        padding: 7px;
    }
    .logo {
        width: 122px;
        height: 36px;
        background-image: url(../images/logo-color.png);
        background-size: contain;
        background-repeat: no-repeat;
    }
    .navbar-default {
        background-color: #fff;
        -moz-box-shadow: 0 2px 3px 0px rgba(0, 0, 0, 0.16);
        -webkit-box-shadow: 0 2px 3px 0px rgba(0, 0, 0, 0.16);
        box-shadow: 0 2px 3px 0px rgba(0, 0, 0, 0.16);
    }
    .navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover {
        color: #1bb3eb;
    }
    .navbar-default .navbar-nav>li>a:before {
        background-color: #40f1d1;
    }
    .navbar-default .navbar-nav>li>a {
        color: #1bb3eb;
    }
    .navbar-default .navbar-nav>li>a:focus, .navbar-default .navbar-nav>li>a:hover {
        color: #1bb3eb;
    }
    .hero-data {
        font-size: 30px;
    }
    .section-container {
        padding: 50px 0;
    }
    .heading:before {
        width: 70px;
        height: 70px;
        background-size: contain;
    }
    .heading {
        font-size: 36px;
    }
    .about-list {
        margin: 25px 0 0 0;
    }
    .about-list li {
        width: 100%;
        margin-bottom: 25px;
    }
    .services-left {
        width: 100%;
    }
    .services-data {
        margin-top: 25px;
    }
    .services-right {
        width: 100%;
        padding: 0 10%;
        margin-top: 50px;
    }
    .service-image {
        height: 25px;
        margin-bottom: 6px;
    }
    .services-list p {
        font-size: 12px;
    }
    .process-control-list-data p {
        display: none;
    }
    .process-control-list-image img {
        max-width: 75%;
    }
    .process-control-list-round {
        margin: 10px 0;
    }
    .development-list {
        justify-content: center;
        margin: 25px 0 0 0;
        flex-wrap: wrap;
    }
    .development-list li {
        list-style: none;
        margin: 15px 20px;
    }
    .news-list li {
        width: 100%;
    }
    .news-list {
        margin: 50px -15px 0 -15px;
    }
    .footer-inner {
        margin-top: 100px;
    }
    .footer-heading h1 {
        font-size: 24px;
    }
    .contact-form-input {
        margin-top: 20px;
    }
    .contact-input-half {
        width: 100%;
    }
    .contact-input-right {
        width: 40%;
    }
    .contact-input-left {
        width: 55%;
    }
    .contact-footer {
        flex-wrap: wrap;
        text-align: center;
    }
    .contact-footer > div {
        width: 100%;
        margin-bottom: 25px;
    }
    .contact-footer > div:nth-last-of-type(1) {
        margin: 0;
    }
    .process-control-line {
        width: calc(100% - 45px);
        top: 52px;
    }
}